<div class="container">
  <div class="filter">
    <input type="checkbox" name="filterByAge" id="filterByAge" [(ngModel)]="showAgeAbove30" />
    <label for="switch">Age > 30</label>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of peopleList">
        <ng-container *ngIf="!showAgeAbove30 || (showAgeAbove30 && +p.age > 30)">
          <td>{{ p.name }}</td>
          <td>{{ p.age }}</td>
          <td>{{ p.phone }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
