<div class="register-form">
  <h2>Register Person</h2>
  <form (ngSubmit)="registerPerson()">
    <div class="form-groupp">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="newPerson.name" required>
    </div>
    <div class="form-groupp">
      <label for="age">Age</label>
      <input type="number" id="age" name="age" [(ngModel)]="newPerson.age" required>
    </div>
    <div class="form-groupp">
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="newPerson.phone" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
